.caixa-title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 14px;
    
    position: absolute;
    width: 445px;
    height: 192px;
    left: 12%;
    top: 25%;

}