.caixa-button{
    display: flex;
    position: absolute;
    top: 400px;
    transform: skew(-20deg, 0deg);
}
.caixa-button button{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    color: #F9F9F9;
    font-size: 18px;
    width: 225px;
    height: 45px;
}
.primeiro{
    display: flex;
    border: none;
    background-color: #658E76;
    margin-right: 20px;    
    justify-content: center;
    align-items: center;
}
.primeiro img{
    padding-right: 10px;
    padding-top: 7px;
}
.segundo{
    background-color: transparent;
    border: 3px solid #658E76;
    font-weight: 500;

    

}