.main-topo{
    display: flex;
    height: 200px;
    width: 1440px;
}
.logo{
    width: 100px;
    height: 48.11px;
    padding-top: 41px;
    padding-left: 165px;
}
.rs-logo{
    display: flex;
    height: 24px;
    width: 183px;
    padding-top: 52px;
    padding-right: 185px;
    right: 0;
    position: absolute;
}
.rs-logo div{
    padding-left: 29px;
    padding-right: 29px;
}
